# URL de conexión a Supabase

# Connect to Supabase via connection pooling
DATABASE_URL="""
# Direct connection to the database. Used for migrations
DIRECT_URL=""


# Tokens de Meta / WhatsApp
WEBHOOK_VERIFY_TOKEN=""
META_PHONE_NUMBER_ID=""
META_ACCESS_TOKEN=""
AGENT_PHONE_NUMBER=""
